.product-card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  transition: 0.3s ease;
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.product-card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
