
.home-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 10px;
  font-family: Arial, sans-serif;
}


.banner img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.section-title {
  margin: 20px 0 10px;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

.top-deals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  padding: 10px 0;
}

.deal-card {
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.deal-card:hover {
  transform: scale(1.05);
}

.deal-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.deal-card p {
  margin: 10px 0 5px;
  font-size: 16px;
}

.deal-card h4 {
  margin: 0;
  color: #e63946;
}


.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  padding-bottom: 30px;
}

.cat-card {
  background: #fff;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  color: black;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}

.cat-card:hover {
  transform: scale(1.06);
}

.cat-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.cat-card p {
  margin-top: 8px;
  font-weight: 600;
  font-size: 16px;
}

.banner{
  width: 100%;
  margin-bottom: 20px;
}

.banner-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}





@media (max-width: 768px) {
  .section-title {
    font-size: 20px;
  }

  .deal-card img {
    max-height: 160px;
  }

  .cat-card img {
    height: 130px;
  }
}


@media (max-width: 480px) {
  .section-title {
    font-size: 18px;
  }

  .deal-card p,
  .cat-card p {
    font-size: 14px;
  }
}
